html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: Arial;
}

.carousel{
  height: 50%;
  position: relative;
  overflow: hidden;
}

.item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.page-number{
    /*height: 2em;*/
    text-align: center;

}
.page-number div{
    width: 10px;
    height: 16px;
    display: inline-block;
    position: relative;
}
.page-number .active:after {
    background: rgba(0,0,0,1) !important;
}
.page-number div:after{
    content: "";
    width: 0.4em;
    height: 0.4em;
    background: rgba(0,0,0,0.2);
    border-radius: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.2em;
    margin-left: -0.2em;
}


